/* BackupScheduling.module.css */
.container {
  height: 100%;
  padding: 0px 2rem;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 400px;
  width: 100%;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputField {
  padding: 0.75rem;
  border: 1px solid var(--button-border-color);
  border-radius: 0.5rem;
  font-size: var(--font-size);
}

.scheduleOptions {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.scheduleButton {
  padding: 8px 16px;
  height: fit-content;
  width: fit-content;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  background-color: var(--button-fill-background);
  color: var(--button-fill-foreground);
}

.cancelLink {
  padding: 8px 16px;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--button-ghost-background);
  color: var(--button-ghost-foreground);
  cursor: pointer;
  height: fit-content;
  text-align: center;
}

.cancelLink:hover {
  background-color: var(--button-ghost-hover-background);
}

.error {
  color: red;
  font-size: 0.875rem;
}

.footer {
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 1rem;
  justify-content: end;
}

.day {
  width: 39px;
}

.selectedDay {
  background-color: var(--secondary);
}

.selectContainer,
.option {
  background-color: var(--dropdown-background);
  color: var(--dropdown-foreground);
}

.option:hover {
  background-color: var(--dropdown-hover-background);
  color: var(--dropdown-hover-foreground);
}
